
@{
    ViewBag.Title = "AguardandoConfirmacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem vindo ao fórum bytebank!</h2>
<p> Por favor, verifique em seu email o link para confirmação de cadastro! </p>

